<h3>Member List</h3>

<table class="table">
    <thead>
        <tr>
            <th>Role</th>
            <th>Name</th>
            <th>Login Id</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Registration Date</th>
            <th>Expiration</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of list">
            <td>{{item.role}}</td>
            <td>{{item.name}}</td>
            <td>{{item.loginId}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.email}}</td>
            <td>{{item.registrationDate}}</td>
            <td>{{item.expireDate}}</td>
        </tr>
    </tbody>
</table>